@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  height:100%;
  scroll-behavior: smooth;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('img/mapa.png');
  margin: 0px;
  height:100%;
}

#app {
  height:100%;
}

/* uvodna stranka */
.logo {
  max-height: 80%;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #dddddd;
  color: black;
  max-height: 100px;
  width: 100%;
}

li {
  display: flex;
}

li :hover {
  color: white;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.4vw;
  margin: 20px 40px;
  font-weight: bolder;
}
.highlight {
  background-color: #c9e265;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #232421;
  border-radius: 5px;
}
.popis {
  background: #c9e265;
  text-align: center;
  padding: 10px 0px;
  font-size: 1.6vw;
  width: 100%;
}
.logo__stred {
  text-align: center;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 5%;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background: #dddddd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.container--about {
  text-align: center;
  height: 100%;
  background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(8px);
}

.container--about-top {
display: flex;
padding-bottom: 100px;
font-size: 20px;
text-align: end;
}

.container--about img{
width: 20%;
margin-left: 30px;
margin-right: 45px;
}

.container--about h2 {
  font-size: 1.7vw;
  padding: 5px 0px;
  background-color: #c9e265;
  margin-bottom: 80px;
}

.paragraph {
  width: 80%;
  align-self: center;
  margin: 0px 30px;
}

/*Cirkulárna ekonomika*/

.container--cirkulareko {
  background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(8px);
  padding-bottom: 100px;
  display: block;
}

.container--cirkulareko h2 {
  text-align: center;
  background-color: #c9e265;
  font-size: 1.7vw;
  padding: 5px 0px;
  background-color: #c9e265;
  margin-bottom: 100px;
}


.container--cirkulareko img {
  width: 40%;
  height: 40%;
  border: 6px solid #dddddd;
}

.cirkulareko--text img {
height: 100%;
width: 40%;
border: 1px solid;
border-radius: 10px;
box-shadow: 2px 2px 2px #232421;
border-radius: 5px;
}

.cirkulareko--text img:hover {
  box-shadow: 3px 3px 3px #232421;
  border: 2px solid #232421;
}

.odkaz1,
.odkaz2,
.odkaz3,
.odkaz4 {
  display: flex;
  
  }

.container--contact {
  text-align: center;
  height: 100%;
  background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  backdrop-filter: blur(8px);
}

.container--contact h2 {
  font-size: 1.7vw;
  padding: 5px 0px;
  margin: 20px 0px;
  width: 100%;
  background-color: #c9e265;
}

.container--contact-items {
  display: flex;
  height: 100%;
  max-width: 100%;
  padding: 70px 0px;
}
.contact--item-1,
.contact--item-2 {
  /*background-color: #C9E265;*/
  max-width: 50%;
}
.contact--item-1 img,
.contact--item-2 img {
  max-width: 50%;
}
.contact--item-1 p,
.contact--item-2 p {
  padding: 10px 40px;
}

/*venue_detail image + buttons */

.container--detail img {
  border: 6px solid #dddddd ;
  border-radius: 5px;
  align-self: center;
}

.container--detail button {
  border: 2px solid #c9e265;
  border-radius: 5px;
  background-color: #c9e265;
  box-shadow: 2px 2px 2px #232421;
  transform: translate3d(5px);
}

button:hover {
background-color: #aed121;
border: 3px solid #aed121;
}

button:active {
box-shadow: 3px 3px 3px #232421;
background-color:#95b611;
border: 3px solid #b4b7a7;

}

.menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}


.main {
  margin-top: 115px;
  height:100%;
}


.container {
  width: 100%;
  height: 100%;
}

.item-category {
  padding-left: 20px;
  width: 70%;
}

.filtr-categories{
  display:flex;
  align-items:center;
  padding: 1% 4.5%;
  background-color: #c9e265;
}

  .filtr-categories h1 {
    font-size: 25px;
  }

  .venue-list {
    max-width: 30%;
    backdrop-filter: blur(8px);
    overflow:auto; 
    height:100%;
    scroll-behavior: smooth;
    border: 6px solid #dddddd;
  }
  
  
  .venue-list :hover {
    color:#aed121;
  }

  .container--detail {
    width: 30%;
    background-color: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    backdrop-filter: blur(8px); 
    padding: 2% 2%;
    border: 6px solid #dddddd;
  }

  .main-container{
    display: flex;
    height:100%;
  }

  .container--detail{
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 20px;
  }

  .container--detail-top{
    display: flex;
    flex-direction: column;
  }

  .container--detail-top button {
    width: 30%;
    align-self: flex-end;
    order: -1;
  }

  .container--detail-top img {
    width: 80%;
    align-self: center;
    order: 1;
    margin-top: 10px;
  }

.container--detail-middle {
  padding: 10px 0px;
}

  .container-detail-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .container-detail-btns a {
    width: 100%;
  }

  .btn1{
    align-self: flex-start;
    width: 100%;
  }

  .btn2{
    align-self: flex-end;
    width: 100%;
  }

/* scrollbar*/

  ::-webkit-scrollbar {
    background-color: whitesmoke;
    ;
  }

  ::-webkit-scrollbar-button {
    background-color: #95b611;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #c9e265;
  }
  
  